PORT=3001
RABBITMQ_URI=amqp://guest:guest@localhost:5672
MONGO_URI=mongodb://admin:secret@localhost:27017/ecoshield?authSource=admin
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=secret
MONGO_DB=ecoshield
REDIS_URI=redis://localhost:6379
MASTER_KEY=bb35ae751c2cdd846b85b4de284196747ebe3201d6b3b9d9e3d774e559d985a6
DETECTION_API_URL=http://localhost:8001
OPTIMIZER_API_URL=http://localhost:8002
BUCKET_DEADLINE_MS=8000
